
<!DOCTYPE html>
<html>
  <head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="{{ asset('dist/favicon.svg') }}" />
    <title>Cube</title>
      {{ encore_entry_link_tags('cube_app') }}

  </head>
  <body>

    <main id="root">
    </main>

    <script type="text/javascript">
    </script>
    {{ encore_entry_script_tags('cube_app') }}
  </body>
</html>
